<section class="productos" id="productos">


  <div class="encabezado">


    <span>ENTRENA A TU MANERA</span>


    <h2>
      Elige tu próximo nivel
    </h2>


    <p>
      Planes claros, acompañamiento cercano y una comunidad que te mantiene en movimiento.
    </p>


  </div>


  <div class="productos-grid">


    @for (producto of productos; track producto.nombre) {


      <article class="producto-card" [class.featured]="producto.destacado">


        <div class="producto-image">


          <img
            [src]="producto.imagen"
            [alt]="producto.nombre"
          >


        </div>


        <div class="producto-content">


          <h3>
            {{ producto.nombre }}
          </h3>


            <p>
            <span class="plan-level">{{ producto.nivel }}</span>
            {{ producto.descripcion }}
          </p>


          <div class="producto-footer">


            <strong>
              S/ {{ producto.precio }} <small>{{ producto.duracion }}</small>
            </strong>


            <a href="#contacto" [attr.aria-label]="'Elegir el plan ' + producto.nombre">
              Elegir plan
            </a>


          </div>


        </div>


      </article>


    }


  </div>


</section>

