<section class="hero" id="inicio">


  <div class="hero-content">


    <div class="hero-text">


      <span class="eyebrow">
        {{ hero.eyebrow }}
      </span>


      <h1>
        {{ hero.title }}
      </h1>


      <p>
        {{ hero.description }}
      </p>


      <div class="hero-buttons">
        <a href="#productos" class="btn-primary">
          Explorar planes
        </a>


        <a href="#nosotros" class="btn-secondary">
          Conoce el método
        </a>
      </div>


    </div>


    <div class="hero-image">


      <img
        [src]="hero.image"
        [alt]="hero.imageAlt"
      >


    </div>


  </div>


</section>

